body {
  font-family: "PT Sans";
  font-size: 14px;
  text-transform: uppercase;
}

h2, b {
  font-size: 21px;
  font-weight: bold;
}

.navigation-item {
  font-weight: bold;
}

.features-name, .found {
  font-size: 21px;
  font-weight: bold;
}

.filter-name {
  font-size: 16px;
  font-weight: bold;
}

.sort-item {
  font-size: 12px;
}

.interest-question {
  font-size: 30px;
  font-weight: bold;
}

.btn-search-hotel {
    font-size: 21px;
    font-weight: bold;
}
