body {
  font-family: "PT Sans";
  font-size: 14px;
  text-transform: uppercase;
}

h1 {
  font-size: 14px;
  font-weight: normal;
}

b {
  font-size: 21px;
  font-weight: bold;
}

.navigation-item {
  font-weight: bold;
}

.features-name, .lead, .found {
  font-size: 21px;
  font-weight: bold;
}

.filter-name {
  font-size: 16px;
  font-weight: bold;
}

.sort-item {
  font-size: 12px;
}

.interest {
  font-size: 30px;
  font-weight: bold;
}

.btn-search-hotel {
    font-size: 21px;
    font-weight: bold;
}
